{% extends "base.html" %}

{% load person %}
{% load patch %}

{% block title %}{{project.name}}{% endblock %}
{% block headers %}
<script type="text/javascript">
$(function () {
    pw.setup_series({ patches: 'series-patchlist' });
});

// improved switching between revision tabs
$(document).ready(function() {
    // bootstrap prevents default here,
    // let's hand-roll out our own hash update
    $('*[data-toggle="pill"]').click(function() {
        window.location.hash = $(this).attr('href');
    });

    // let's got to the the revision indicated by anchor on load
    var hash = window.location.hash.substr(1);
    $("#select_"+hash).tab("show");

    // let's also change the tab if user changes the hash
    $(window).on('hashchange', function() {
        var hash = window.location.hash.substr(1);
        $("#select_"+hash).tab("show");
    });
});

$(document).ready(function() {
    {% if is_retestable %}
    $("#retest-latest").click(function(e) {
        e.preventDefault();
        var button = $(this);

        button.prop('disabled', true);

        button.removeClass("btn-info");
        button.addClass("btn-warning");
        button.text("requesting retest");

        var on_post_success = function() {
            button.removeClass("btn-warning");
            button.addClass("btn-success");
            button.text("retest queued");
            window.location.reload();
        };

        var on_post_failure = function() {
            button.removeClass("btn-warning");
            button.addClass("btn-failure");
            button.text("failed!");
        };

        var series = button.data('series');
        var revision = button.data('revision');
        var url = '/series/' + series + '/revisions/' + revision + '/newrevision/';

        pw.post_data(url, undefined, on_post_success, on_post_failure);
    });
    {% else %}
    var retest_container = $("#retest-latest-container");
    retest_container.fadeTo(0, 0.2); // immediate "transition"
    pw.fade_disable(retest_container);
    {% endif %}
});
</script>
{% endblock %}

{% block body %}
<h1>{{ series.name }}</h1>
<div class="core-info">
  <span>Submitted by {{ series.submitter|personify:project }} on {{ series.submitted }}</span>
</div>

<h2>Details</h2>

<table class="patchmeta">
  <tr>
    <th>Reviewer</th>
{% if series.reviewer %}
    <td>{{ series.reviewer.name }}</td>
{% else %}
    <td><em class="text-muted">None</em></td>
{% endif %}
  </tr>
  <tr>
    <th>Submitted</th>
    <td>{{ series.submitted }}</td>
  </tr>
  <tr>
    <th>Last Updated</th>
    <td>{{ series.last_updated }}</td>
  </tr>
  <tr>
    <th>Revision</th>
    <td>{{ series.last_revision.version }}</td>
  </tr>
</table>


{% if cover_letters %}
<h2>Cover Letter(s)</h2>
{% endif %}

{% for version, cover_letter in cover_letters %}
<details {% if forloop.last %}open{% endif %}>
  <summary style="display: list-item;">Revision {{ version }}</summary>
  <div class="comment">
    <pre class="content">
      {{ cover_letter }}
    </pre>
  </div>
</details>
{% endfor %}

<h2>Revisions</h2>

<div>

  <div id="retest-latest-container" class="btn-group" style="float: right;"
      data-disabled-title="You have to be logged in and be the submitter or the project maintainer.">
      {% if series.last_revision %}
      <button class="btn btn-info" id="retest-latest"
        data-series="{{ series.id }}" data-revision="{{ series.last_revision.version }}">
          test revision {{ series.last_revision.version }} again
      </button>
      {% else %}
      <button class="btn btn-danger disabled" id="retest-latest"
        data-series="{{ series.id }}" data-revision="{{ series.last_revision.version }}">
          no complete revisions to test!
      </button>
  {% endif %}
  </div>

  <ul class="nav nav-pills small-pills" data-tabs="tabs" role="tablist">
{% for revision in revisions %}
    <li role="presentation"{% if forloop.last %} class="active"{%endif%}>
      <a id="select_rev{{ revision.version }}" data-toggle="pill" href="#rev{{ revision.version }}">rev {{ revision.version }}</a>
    </li>
{% endfor %}
  </ul>

  <div class="tab-content">
{% for revision in revisions %}
    <div role="tabpanel" id="rev{{ revision.version }}"
         class="tab-pane fade{% if forloop.last %} in active{% endif %}">

{% if revision.is_rerun %}
<div class="alert alert-info">
    <strong>THIS SERIES REVISION IS A RERUN.</strong> Please don't overuse the "test again" button.
</div>
{% endif %}

{% if not revision.is_complete %}
<div class="alert alert-danger">
    <strong>SERIES REVISION IS NOT COMPLETE.</strong> We've got {{ revision.patches_count }} out of {{ revision.n_patches }} expected patches.
</div>
{% elif revision.is_strange %}
<div class="alert alert-warning">
    <strong>SERIES REVISION LOOKS STRANGE.</strong> Please double-check patch list and the ordering before proceeding.
</div>
{% endif %}

    <h3>Patches <a href="{% url 'seriesrevision-mbox' series.pk revision.version %}" >download mbox</a></h3>

      <div class="well transparent">
        <table class="table table-hover table-condensed pw-list" id="series-patchlist">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Submitter</th>
              <th>State</th>
              {% for tag in project.tags %}
                 <th class="tag-header">
                  <span title="{{tag.name}}">{{tag.abbrev}}</span>
                 </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
        {% for patch in revision.patch_list %}
            <tr>
              <td></td>
              <td><a href="{% url 'patch' patch_id=patch.id %}?series={{ revision.series_id }}&rev={{ revision.version }}"
                >{{ patch.name|default:"[no subject]"|truncatechars:100 }}</a></td>
              <td>{{ patch.submitter|personify:project }}</td>
              <td>{{ patch.state }}</td>
              {% for tag in project.tags %}
                 {{ patch|patch_tags:tag }}
              {% endfor %}
            <tr>
        {% endfor %}
          </tbody>
        </table>
      </div>

    {% if revision.test_results %}
    <h3>Tests</h3>

    <div class="well transparent">
      <div class="panel-group" id="test-accordion" role="tablist" aria-multiselectable="true">
        {% for test_result in revision.test_results %}
        {% include "patchwork/test-result.html" %}
        {% endfor %}
      </div>
    </div>

    {% endif %}

    </div>
{% endfor %}
  </div>

</div>

{% endblock %}
